/* Public Sans  */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Lexend  */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import 'primeicons/primeicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f5;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  color: black;
}
.public-sans{
  font-family: "Public Sans", sans-serif;
}